$black: #000000;
$white: #ffffff;
$gray: #525252;
$primary-blue: #61bbff;
$secondary-blue: #aadafe;
$tertiary-blue: #e6f4ff;
$primary-yellow: #ffcd00;
$secondary-yellow: #f7db87;
$tertiary-yellow: #fff0b3;
$primary-green: #72a61b;
$secondary-green: #d5e4bb;
$text-green: #3a5c02;
$text-yellow: #957800;
$text-blue: #5e96bf;
