html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $black;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  position: relative;
  &::after {
    background-color: transparent;
    height: 0%;
    @include for-size(desktop) {
      background-color: #f5f6f8;
      height: 35%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}
main {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  background: $white;
  margin: 0 auto;
  width: 100%;
  box-shadow: none;
  padding: 0;

  @include for-size(desktop) {
    width: 50%;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 25%);
    padding: 30px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-navbar {
  background-color: transparent;
}
.navbar-brand {
  height: 36px;
  width: 174px;
  margin: 15px 0;
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  @include for-size(desktop) {
    height: 66px;
    width: 294px;
    margin: 24px 0;
  }
  .img-fluid {
    height: 100%;
    object-fit: cover;
  }
}
.bg-yellow {
  background-color: $primary-yellow;
}
.title {
  font-weight: bold;
  font-size: 12px;
  line-height: 140.62%;
  color: $black;
  margin: 0;
  @include for-size(tablet) {
    font-size: 16px;    
  }
  @include for-size(desktop) {
    font-size: 20px;    
  }
}
.text {
  font-weight: normal;
  font-size: 12px;
  line-height: 140.62%;
  color: $black;
  margin: 0;
  @include for-size(tablet) {
    font-size: 16px;
    
  }
  @include for-size(desktop) {
    font-size: 20px;
    
  }
}
.sub-nav {
  width: 100%;
  padding: 13px 5px;
  text-align: center;
  margin: 0;
  @include for-size(desktop) {
    padding: 8px 5px;
    margin: 0 0 15px;
  }
  .title {
    font-size: 12px;
    line-height: 140.62%;
    @include for-size(tablet) {
      font-size: 14px;
    }
    @include for-size(desktop) {
      font-size: 16px;
    }
  }
}
.wrapper {
  position: relative;
  &--select {
    margin-right: 15px;
    display: flex;
    flex: 1 1 auto;
  }
  &--input {
    margin-right: 15px;
    display: flex;
    flex: 1 1 auto;
    .icon--search {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translateY(-50%);
      color: $secondary-gray;
    }
  }
  &--dropdown {
    min-height: 42px;
  }
}
.section {
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: auto;
  background-color: $white;
  &--alert {
    height: auto;
    overflow: hidden;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
  }
}
.map-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;  
}
.map {
  height: 100%;
  width: 100%;
}
.form {
  padding: 15px;
  &:last-child {
    padding-top: 10px;
  }
  &--float {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
    .wrapper {
      .dropdown {
        height: 100%;
        .btn--white {
          height: 100%;
          .icon--view {
            margin-right: 9.5px;
            color: $black;
          }
          .fa-chevron-down {
            color: $secondary-gray;
          }
        }
      }
    }
  }
  .form-select {
    background-image: url("../dist/img/select-down.png");
    background-size: 17px 11px;
    border: 1px solid $lite-gray;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140.62%;
    color: $secondary-black;
    &:focus {
      border: 2px solid $lite-gray;
      box-shadow: none;
    }
    @include for-size(desktop) {
      font-size: 20px;
      line-height: 140.62%;
    }
  }
  .form-control {
    border: 1px solid $lite-gray;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140.62%;
    color: $secondary-black;
    padding-right: 42px;
    &:focus {
      border: 2px solid $lite-gray;
      box-shadow: none;
    }
    @include for-size(desktop) {
      font-size: 20px;
      line-height: 140.62%;
    }
  }
}
.row {
  &--list {
    margin: 0 -5px;
  }
}
.card {
  background: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 10px;
  z-index: 1;
  &--list {
    padding: 5px;
    box-shadow: none;
    width: calc(100% - 15px);
    margin: 0 auto 15px;
    .title {
      font-size: 12px;
      line-height: 125%;
      @include for-size(tablet) {
        font-size: 14px;
        line-height: 140.62%;
      }
      @include for-size(desktop) {
        font-size: 14px;
        line-height: 140.62%;
      }
    }
    .eligible-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 11px;
      .text {
        font-size: 10px;
        line-height: 125%;
        color: $gray;
        @include for-size(desktop) {
          font-size: 12px;
          line-height: 140.62%;
        }
        &--number {
          font-weight: 900;
          color: $primary-green;
          @include for-size(desktop) {
            font-size: 12px;
            line-height: 140.62%;
          }
        }
      }
    }
  }
  &--bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    &.active {
      .card-header {
        .action--toggle {
          .icon--toggle {
            transform: rotate(180deg);
          }
          .text {
            &--show {
              display: block;
            }
            &--hide {
              display: none;
            }
          }
        }
      }
      .card-body {
        display: none;
      }
    }
    .card-body {
      margin: 12px 0 0;
    }
  }
  .card-header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    .action--toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .icon--toggle {
        margin-right: 10px;
        font-weight: bold;
        color: $gray;
        transform: rotate(0deg);
      }
      .text {
        color: $gray;
        font-size: 12px;
        line-height: 140.62%;
        @include for-size(desktop) {
          font-size: 16px;
          line-height: 140.62%;
        }
        &--show {
          display: none;
        }
        &--hide {
          display: block;
        }
      }
    }
  }
  .card-body {
    padding: 0;
    display: block;
    height: 100%;
  }
}
.box {
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 5px;
  &--tertiary {
    background-color: $tertiary-yellow;
  }
  &--secondary {
    background-color: $secondary-yellow;
  }
  &--primary {
    background-color: $primary-yellow;
  }
}
.list {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 15px;
    &:last-child {
      margin: 0;
    }
    &--progress {
      position: relative;
      border-radius: 100px;
      margin-bottom: 10px;
      &.unvaccinated {
        background-color: $tertiary-blue;
        .text {
          color: $text-blue;
        }
        .progress-bar {
          &::-webkit-progress-value {
            background-color: $secondary-blue;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          &::-webkit-progress-bar {
            background-color: $primary-blue;
          }
        }
      }
      &.first-dose {
        background-color: $tertiary-yellow;
        .text {
          color: $text-yellow;
        }
        .progress-bar {
          &::-webkit-progress-value {
            background-color: $primary-yellow;
          }
          &::-webkit-progress-bar {
            background-color: $tertiary-yellow;
          }
        }
      }
      &.second-dose {
        background-color: $secondary-green;
        .text {
          color: $text-green;
        }
        .progress-bar {
          &::-webkit-progress-value {
            background-color: $primary-green;
          }
          &::-webkit-progress-bar {
            background-color: $secondary-green;
          }
        }
      }
      .progress-wrapper {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 6px;
        margin: 5px 6px;
        border-radius: 100px;
        .title {
          font-weight: 500;
          font-size: 10px;
          line-height: 125%;
          z-index: 1;
          @include for-size(desktop) {
            font-size: 12px;
            line-height: 140.62%;
          }
        }
        .text {
          font-weight: 500;
          font-size: 10px;
          line-height: 125%;
          z-index: 1;
          @include for-size(desktop) {
            font-size: 12px;
            line-height: 140.62%;
          }
        }
      }
      .progress-bar {
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        &::-webkit-progress-value {
          border-radius: 100px;
        }
      }
    }
    .wrapper--item {
      display: flex;
      align-items: center;
    }
  }
}
.checkbox-wrapper {
  .label-checkbox {
    .form-checkbox {
      display: none;
      &:checked ~ .custom-checkbox {
        background-color: $primary-green;
        border: 1px solid $primary-green;
        .icon--check {
          display: block;
        }
      }
    }
    .custom-checkbox {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      background-color: $white;
      border: 1px solid $black;
      box-sizing: border-box;
      border-radius: 2px;
      .icon--check {
        font-size: 12px;
        font-weight: bold;
        color: $white;
        display: none;
      }
    }
  }
}
.dropdown {
  .btn--white {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    .text {
      margin-right: 9.5px;
      font-weight: normal;
      font-size: 16px;
      line-height: 140.62%;
      color: $secondary-black;
      display: none;
      @include for-size(desktop) {
        font-size: 20px;
        line-height: 140.62%;
        display: block;
      }
    }
    .icon--view {
      display: block;
      @include for-size(desktop) {
        display: none;
      }
    }
  }
  .dropdown-menu {
    .dropdown-item {
      font-weight: normal;
      font-size: 16px;
      line-height: 140.62%;
      color: $black;
      @include for-size(desktop) {
        font-size: 20px;
        line-height: 140.62%;
      }
    }
  }
}
